// 长度
@header-height: 60px;
@side-bar-width: 60px;
@list-width: 300px;
@list-card-height: 60px;
@avatar-img-diameter: 40px;

// 颜色
@primary-color: #324365;
@primary-hover-color: #29354d;
@primary-focus-color: #263149;
@scroll-color: #bbbcbe;
@scroll-hover-color: #787b7e;
@border-color: #dadbdd;
@list-hover-color: #ededee;
@list-focus-color: #e6f0ff;
@chat-box-background-color: #fafbfc;
@chat-bubble-background-color: #ebeced;
@chat-bubble-background-user-color: #d1e3ff;

// 特殊
@border-style:1px solid @border-color;

// 函数

// 单行文本，超出部分显示省略号
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 高度100%，保证元素继承关系，使页面不超出
html,
body,
#app {
  box-sizing: border-box;
  height: 100%;
}

// 全局修改滚动条样式
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: @scroll-color;
}
::-webkit-scrollbar-thumb:hover {
  background: @scroll-hover-color;
}

// 修改element文本框字体大小
.el-textarea__inner {
  font-size: 16px;
}
