// 长度
@header-height: 70px;
@list-card-width: 300px;
@list-card-height: 60px;
@avatar-img-diameter: 40px;

// 颜色
@scroll-color: #bbbcbe;
@scroll-hover-color: #787b7e;
@border-color: #dadbdd;
@header-background-color: #e6f0ff;
@card-hover-color: #ededee;
@card-focus-color: #e6f0ff;
@chat-box-background-color: #fafbfc;
@chat-bubble-background-color: #ebeced;
@chat-bubble-background-user-color: #d1e3ff;

// 函数
// 圆形头像
.avatar-img {
  border-radius: 50%;
  width: @avatar-img-diameter;
  height: @avatar-img-diameter;
}

// 单行文本，超出部分显示省略号
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 高度100%，保证元素继承关系，使页面不超出
html,
body,
#app {
  box-sizing: border-box;
  height: 100%;
}

// 全局修改滚动条样式
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: @scroll-color;
}
::-webkit-scrollbar-thumb:hover {
  background: @scroll-hover-color;
}

// 修改element文本框字体大小
.el-textarea__inner {
  font-size: 16px;
}
